/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input, input:focus, select {
  border: none;
  outline: none;
}

/* common */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* page */
body{
  background: rgb(153,203,238) url(./wall-min.jpg) no-repeat center center; 
  background-size: cover;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  min-width: 984px;
  text-align: center;  
}
.search {
  margin-bottom: 2vh;
  max-width: 60%;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 1000px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5)
}
.search-select {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0 0 0 20px;
  border-radius: 1000px 0 0 1000px;
}
.search-input {
  float: left;
  width: 60%;
  height: 100%;
  padding: 0 12px;
  font-size: 20px;
}
.search-button {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0 24px 0 10px;
  background-color: #E07206;
  color: #fff;
  font-size: 20px;
  border-radius: 0 1000px 1000px 0;
  cursor: pointer;
}

#main {
  display: inline-block;
  vertical-align: top;
  border-radius: 12px;  
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 32px;
}
#main > div{
  margin: 12px 0;
}
#main>div:nth-child(2) {
  margin-left: -50px;
}
#main>div:nth-child(3) {
  margin-left: -140px;
}
#main kbd.kbd {
  display: inline-block;
  vertical-align: top;
  position: relative;  
  margin: 4px 10px;
  width: 72px;
  height: 54px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(31, 31, 31, 1), 0px 2px 1px 2px rgba(2, 2, 2, 1);  
  background: linear-gradient(to bottom, #292929 0%, #121212 100%, #1e5799 100%);
  color: rgb(209, 209, 209);
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-family: Corbel;
}
#main kbd.kbd > span{
  position: absolute;
  left: 10px;
}
#main kbd>button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

#main kbd:hover>button {
  display: inline-block;
}

#main kbd>img {
  position: absolute;
  left: 10px;
  bottom: 2px;
  width: 18px;
  height: 18px;
}
